@font-face {
    font-family: Norse-Bold;
    src: url("Norse-Bold.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    height: 100%;
}

.sidebar-left {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* height: 100%; */
}

.sidebar-left h1 {
    font-family: Norse-Bold, sans-serif;
    font-size: 128px;
    font-weight: bold;
    margin-bottom: 400px;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

a, a:hover, a:visited {
    color: white;
}

.credit {
    justify-self: flex-end;
}

.logo {
    width: 150px;
    height: 150px;
}

.sidebar-right {
    margin: 0;
    padding: 0;
}

section {
    margin: 50px 0;
    padding-left: 50px;
}

.section-2 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.section-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}

.form-row input {
    width: 80%;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 4px;
}

.form-row input:invalid {
    border: 1px solid red;
}

button {
    color: white;
    background-color: #596D48;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

